body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  text-align: center;
}

button {
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

button:active {
  background-color: #888;
}
